<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Kyiv Pay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo</string>
	<key>UIAppFonts</key>
	<array>
		<string>probanav2-bold-webfont.ttf</string>
		<string>probanav2-extralight-webfont.ttf</string>
		<string>probanav2-light-webfont.ttf</string>
		<string>probanav2-medium-webfont.ttf</string>
		<string>probanav2-regular-webfont.ttf</string>
		<string>probanav2-semibold-webfont.ttf</string>
		<string>probanav2-thin-webfont.ttf</string>
		<string>GothaProBla.otf</string>
		<string>GothaProBlaIta.otf</string>
		<string>GothaProBol.otf</string>
		<string>GothaProBolIta.otf</string>
		<string>GothaProIta.otf</string>
		<string>GothaProLig.otf</string>
		<string>GothaProLigIta.otf</string>
		<string>GothaProMed.otf</string>
		<string>GothaProMedIta.otf</string>
		<string>GothaProReg.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
